<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div style = "text-align: center">
  <h1>Employees</h1>
</div>

<div class ="container">

  
<ngb-tabset>


    <ngb-tab title="Employees List">
        <ng-template ngbTabContent>
      <ngb-tabset>

  <ngb-tab title="All employees list">
      <ng-template ngbTabContent>
        <ang-list-all-employees></ang-list-all-employees>

</ng-template>
</ngb-tab>

<ngb-tab title="Employees by department">
    <ng-template ngbTabContent>
    <ang-list-dept-employees></ang-list-dept-employees>
      </ng-template>
</ngb-tab>

</ngb-tabset>
</ng-template>
</ngb-tab>



  

<br>
<hr>

  <ngb-tab title="Add employees">
      <ng-template ngbTabContent>
    <ngb-tabset>

<ngb-tab title="Add Employee">
    <ng-template ngbTabContent>
  <ang-add-employee-form></ang-add-employee-form>
</ng-template>
</ngb-tab>
<br>
<hr>

<ngb-tab title="Add Sales Employee">
  <ng-template ngbTabContent>

    <ang-sales-add-form></ang-sales-add-form>

</ng-template>
</ngb-tab>

</ngb-tabset>
</ng-template>
</ngb-tab>




  <br>
  <hr>








</ngb-tabset>  

</div>